/* https://nextjs.org/docs/app/building-your-application/styling/tailwind-css */
@import url('./fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply prose prose-zinc dark:prose-invert;
    @apply relative mx-auto  px-4 antialiased max-w-[100%] min-h-[200vh];
    @apply bg-white;
    @apply font-fontRegular;
  }

  input {
    @apply rounded px-4 py-2;
    @apply text-zinc-900;
    @apply bg-zinc-200 dark:bg-zinc-200;
  }

  textarea {
    @apply rounded px-4 py-2;
    @apply text-zinc-900;
    @apply bg-zinc-200 dark:bg-zinc-200;
  }

  a {
    @apply no-underline
  }

  li {
    @apply list-none
  }

  button,
  .button,
  [type='submit'] {
    @apply rounded px-4 py-3 leading-tight no-underline;
    @apply bg-zinc-200 text-zinc-900 dark:bg-zinc-400;

    /* @apply hover:bg-zinc-300 dark:hover:bg-zinc-500; */
  }

  .btn-primary {
    background: #edfbe485;
    color: white;
    padding: 0.5em 1.8em;
    font-family: "Bold";
    font-size: 0.9rem;
  }

  @media screen and (width >= 640px) {
    .btn-primary {
      font-size: 1rem;
    }
  }

  @media screen and (width >= 1280px) {
    .btn-primary {
      font-size: 1.2rem;
    }
  }

  @media screen and (width >= 1536px) {
    .btn-primary {
      font-size: 1.5rem;
    }
  }
}


