/* https://nextjs.org/docs/app/building-your-application/styling/tailwind-css */
@import url('./fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply prose prose-zinc ;
    @apply relative mx-auto  px-0 antialiased max-w-[100%] min-h-[200vh];
    @apply bg-[#F0F0F0];
    @apply font-fontRegular;
  }

  input {
    @apply rounded px-4 py-2;
    @apply text-zinc-900;
    @apply bg-zinc-200 dark:bg-zinc-200;
  }

  textarea {
    @apply rounded px-4 py-2;
    @apply text-zinc-900;
    @apply bg-zinc-200 dark:bg-zinc-200;
  }

  a {
    @apply no-underline
  }

  li {
    @apply list-none
  }

  button,
  .button,
  [type='submit'] {
    @apply rounded px-4 py-3 leading-tight no-underline;
    @apply bg-zinc-200 text-zinc-900 dark:bg-zinc-400;

    /* @apply hover:bg-zinc-300 dark:hover:bg-zinc-500; */
  }

  .btn-primary {
    background: #edfbe485;
    color: white;
    padding: 0.5em 1.8em;
    font-family: "Bold";
    font-size: 0.9rem;
  }

  @media screen and (width >= 640px) {
    .btn-primary {
      font-size: 1rem;
    }
  }

  @media screen and (width >= 1280px) {
    .btn-primary {
      font-size: 1.2rem;
    }
  }

  @media screen and (width >= 1536px) {
    .btn-primary {
      font-size: 1.5rem;
    }
  }
}


strong {
  /* color: white; */
}

h3 {
  font-size: 36px;
  font-family: Bold;
}

.full-image img {
  width: 100%;
}

.wp-block-columns-is-layout-flex {
  display: flex;
}

.wp-block-columns-is-layout-flex > div {
  width: 50%;
}

.image-cover-container figure {
  height: 500px;
}

.image-cover-container img {
  height: 100%;
  object-fit: cover;
}

.aligncenter {
  text-align: center;
  text-align: -webkit-center;
}

.has-text-align-right {
  text-align: right;
}

.wp-duotone-grayscale {
  filter: grayscale();
}

html {
  scroll-padding-top: 250px; /* La hauteur du header */
}

.quote {
  position: relative;
}

.quote:before {
  content: "“";
  position: absolute;
  top: 50%;
  right: 100%;
  font-size: 14rem;
}

.quote:after {
  content: "”";
  font-size: 15rem;
  position: absolute;
  right: 62px;
  top: 122%;
}


.quote-2 {
  position: relative;
  padding-right: 13rem;
}

.quote-2:before {
  content: "“";
  position: absolute;
  top: 60%;
  left: 36%;
  font-size: 14rem;
}

.quote-2:after {
  content: "”";
  font-size: 15rem;
  position: absolute;
  right: 7rem;
  top: 7rem;
}